---
import SectionTitle from "../ui/SectionTitle.astro";
import TeamsCard from "../ui/TeamsCard.astro";
import Section from "./Section.astro";

import c1 from "../../assets/pics/card-pic1.png";
import c2 from "../../assets/pics/card-pic2.png";
import c3 from "../../assets/pics/card-pic3.png";
import c4 from "../../assets/pics/card-pic4.png";
import c5 from "../../assets/pics/card-pic5.png";
import c6 from "../../assets/pics/card-pic6.png";

const cards = [
  {
    index: 3,
    title: "Astrolabe",
    description: "Coming Soon...",
    img: c1,
    alt: "astrolabe-gju",
    link: "https://google.com",
  },
  {
    index: 1,
    title: "Competitive Programming",
    description:
      "A team dedicated to participating and winning in local and global competitions in all fields!",
    img: c2,
    alt: "SEO",
    link: "https://google.com",
  },
  {
    index: 1,
    title: "Communications",
    description:
      "Communicating with all parties involved in events and helping all with their inquiries. ",
    img: c4,
    alt: "communications",
    link: "https://google.com",
  },
  {
    index: 2,
    title: "Social Media",
    description:
      "Adminstrating social media pages and always being there to capture moments during events to inspire others!",
    img: c3,
    alt: "social-media",
    link: "https://google.com",
  },

  {
    index: 3,
    title: "AI/ML & Data Science",
    description: "Tracking your life and making a profit out of it!",
    img: c6,
    alt: "ai",
    link: "https://google.com",
  },
];

const description =
  "Meet the passsionate teams driving innovation at IT Club GJU.";
---

<Section id="teams">
  <div class="mt-[140px] mb-5">
    <SectionTitle
      sectionTitle="Teams"
      description={description}
      isDescription={false}
    />
    <div class="grid lg:grid-cols-2 lg:grid-rows-3 gap-10">
      {
        cards.map((card) => (
          <TeamsCard
            index={card.index}
            title={card.title}
            description={card.description}
            img={card.img}
            alt={card.alt}
            link={card.link}
          />
        ))
      }
    </div>
  </div>
</Section>
