---
import SectionTitle from "../ui/SectionTitle.astro";
import TeamsCard from "../ui/TeamsCard.astro";
import Section from "./Section.astro";

import astrolabe from "../../assets/pics/astrolabe-logo.png";
import c3 from "../../assets/pics/card-pic3.png";
import competitive from "../../assets/pics/competitive.png";
import c4 from "../../assets/pics/card-pic4.png";
import c6 from "../../assets/pics/card-pic6.png";

const cards = [
  {
    index: 4,
    title: "Astrolabe",
    description: "Coming Soon...",
    img: astrolabe,
    alt: "astrolabe-gju",
    link: "https://github.com/Ahmad-Mtr/IT-site",
    isLinked: false,
  },
  {
    index: 1,
    title: "Competitive Programming",
    description:
      "Participating and winning in various competitions in all fields!",
    img: competitive,
    alt: "competitive-programming",
    link: "https://google.com",
    isLinked: false,
  },
  {
    index: 1,
    title: "Communications",
    description:
      "Communicating with all parties involved in events and helping all with their inquiries. ",
    img: c4,
    alt: "communications",
    link: "https://google.com",
    isLinked: false,
  },
  {
    index: 2,
    title: "Social Media",
    description:
      "Adminstrating social media pages and always being there to capture moments during events to inspire others!",
    img: c3,
    alt: "social-media",
    link: "https://google.com",
    isLinked: false,
  },

  {
    index: 3,
    title: "AI/ML & Data Science",
    description: "Tracking your life and making a profit out of it!",
    img: c6,
    alt: "ai-ml-data-science",
    link: "https://google.com",
    isLinked: false,
  },
];

const description =
  "Meet the passsionate teams driving innovation at IT Club GJU.";
---

<Section id="teams">
  <div class="mt-[140px] mb-5">
    <SectionTitle
      sectionTitle="Teams"
      description={description}
      isDescription={false}
    />
    <div class="grid lg:grid-cols-2 lg:grid-rows-3 gap-10">
      {
        cards.map((card) => (
          <TeamsCard
            index={card.index}
            title={card.title}
            description={card.description}
            img={card.img}
            alt={card.alt}
            link={card.link}
            isLinked={card.isLinked}
          />
        ))
      }
    </div>
  </div>
</Section>
